.container {
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content: center;
  padding-top: 3rem;
  overflow: hidden;
  height: 70vh;
}

.bodycontainer {
  border: 2px solid rgb(179, 209, 236);
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  border: 1px solid lightblue;
  font-size: 2.5rem;
  /* display: inline; */
  font-weight: bold;
  /* margin-left: 45vw; */
  color: black;
  margin-top: 2rem;
}

.bar {
  width: 2px;
  background-color: blue;
  margin: 1px;
}
