.container {
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content: flex-start;
  border: 2px solid rgb(179, 209, 236);
  padding-top: 3rem;
  overflow: hidden;
}

.bar {
  width: 2px;
  background-color: blue;
  margin: 1px;
}
