.container {
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content: center;
  padding-top: 3rem;
  overflow: hidden;
  height: 70vh;
}

.bodycontainer {
  border: 2px solid rgb(179, 209, 236);
  margin-top: 1rem;
  /* display: flex; */
}
.label {
  border: 1px solid lightblue;
  font-size: 2rem;
  margin-left: 50vw;
  color: red;
}

.bar {
  width: 2px;
  background-color: blue;
  margin: 1px;
}
